node_modules
.next
out
build
.git
.gitignore
*.md
.env
.env.production
.env.local
.env.development
.env.test
deploy.sh
scripts/backup-db.sh
coverage
.vscode
.idea
*.log
npm-debug.log*
.DS_Store
terminals
